<nav class="navbar  bg-primary sticky-top">
    <button type="button" class="btn btn-light"><a class="navbar-brand" href="#">Time2FixIt</a>
    </button>
    <header class="header2"> 
        <div class="header-left">
            <a routerLink=""></a>
            <a routerLink="/home"><b>Home</b></a>
            <a routerLink="/aboutus"><b>AboutUs</b></a>
            <!-- <a href=""><b>Properties</b></a> -->
            <a href=""><b>Bookings</b></a>
            <a href=""><b>Payment</b></a>
            <a href=""><b>Chat Here</b></a>
        </div>
        <!-- <div class="header-right">
         <h1><i class="fa fa-shopping-cart" aria-hidden="true">Cart</i></h1> 
          <span class="material-icons">shopping_cart</span><p>Cart</p>
          <input type="text" placeholder="Search..">&nbsp;&nbsp;&nbsp;&nbsp;
          <button mat-raised-button class="header-right-btn">Search</button>
        </div> -->
      </header>
</nav>

