.navbar {
    padding-left: 15px;
    padding-right: 15px; 
    border-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px 20px;
  }

  .header-left a{
    /* float: left; */
    margin-right: 8vh;
    color: #000000;
    text-decoration: none;
  }

.header-right{
display: flex;
  }