<!-- <h1>user-registration works!</h1> -->
<link rel="stylesheet" href="user-registration.component.css">
<nav class="navbar  bg-primary sticky-top">
    <button type="button" class="btn btn-light"><a class="navbar-brand" href="#">Time2FixIt</a>
    </button>
    <div class="btn-left">
        <button type="button" class="btn btn-left btn-outline-light">Log In</button>
        <button type="button" class="btn btn-left btn-outline-light" routerLink="/service-provider-registration">Sign Up as Service</button>
    </div>
</nav>
<div class="container registration-container"><br>

    <div class="row">
        <div class="col-lg-5">
            <img src="assets/registration-image.jpg" alt="Registration Image" class="img-fluid img-sm img-md img-lg">
        </div>
        <div class="col-md-7">
            <h2>Time2FixIt</h2> 
            <p></p>
            <h3>SIGN UP AS USER</h3>
            <form class="mt-4" (ngSubmit)="addUser()">
                <!-- First Div: Email, Username, Password, Confirm Password -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email" class="label">EMAIL</label>
                            <input type="email" class="form-control input" id="email" placeholder="Enter your email" [(ngModel)]="user1.email" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <label for="username" class="label">USERNAME</label>
                            <input type="text" class="form-control input" id="username" placeholder="Enter your username" [(ngModel)]="user1.username" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <label for="password" class="label">PASSWORD</label>
                            <input type="password" class="form-control input" id="password" placeholder="Enter your password" [(ngModel)]="user1.password" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" class="label">CONFIRM PASSWORD</label>
                            <input type="password" class="form-control input" id="confirmPassword" placeholder="Confirm your password" [(ngModel)]="user1.confirmPassword" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <!-- Second Div: Phone Number, Security Question, Security Answer -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phoneNumber" class="label">PHONE NUMBER</label>
                            <input type="tel" class="form-control input" id="phoneNumber" placeholder="Enter your phone number" [(ngModel)]="user1.phoneNumber" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <label for="securityQuestion" class="label">SECURITY QUESTION</label>
                            <select class="form-control input" id="securityQuestion" [(ngModel)]="user1.securityQuestion" name="securityQuestion" [ngModelOptions]="{standalone: true}">
                                <option value="" disabled selected>Select the secutity questions</option>
                                <option class="form-control" value="petName" name="option1">What's your pet's name?</option>
                                <option value="grandfathersName" name="option2">What's your grandfather's name?</option>
                                <option value="hometown" name="option3">What's your hometown?</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="securityAnswer" class="label">SECURITY ANSWER</label>
                            <input type="text" class="form-control input" id="securityAnswer" placeholder="Enter the security answer" [(ngModel)]="user1.securityAnswer" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">SUBMIT</button>
                <p>By signing up you agree to Directory's Terms and Conditions and Privacy Policy.</p>
            </form>
        </div>
    </div>
</div>
<br><p></p>
<footer class="bg-primary text-white text-center py-3">
    &copy; time2fixit 2023
</footer>
