.navbar {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label {
  margin-bottom: 5px;
  color: rgb(0, 119, 255);
}
h2{
  color: rgb(0, 119, 255);
}
h3{
  color: rgb(0, 119, 255);
}
h4{color: rgb(0, 119, 255);
}
h5{color: rgb(0, 119, 255);}
h6{color: rgb(0, 119, 255);}
.input {
  margin-bottom: 15px;
}
.img {
  padding-left: 15px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
.card{
  border-color: rgb(0, 119, 255);
}